/*reset*/
* {
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
      -moz-box-sizing: border-box;
        box-sizing: border-box;
}
a {
    text-decoration: none;
}
a:visited, 
a:hover, 
a:active,
a:focus{
    color: #fff;
}
ul li {
    list-style-type: none;
}
/*end reset*/
/*main css*/
body {
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 14px;
}
/*header*/
header {
    width: 100%;
    background-color: #0d2f20;
    background: url(../img/header/hd-bg.jpg) no-repeat center top;
    background-position: center center;
    color: #fff;
    vertical-align: middle;
    max-height: 855px;
    background-size: cover;
}
.hd-wrapper-сеnter {
    margin: auto;
    padding: 12px 20px;
}
.hd-logo {
    float: left;
}
.hd-logo img {
    width: 217px;
}
.hd-nav{
    float: right;
}
ul.hd-menu {
    margin: 0;
    padding: 0;
    list-style-type: none;
    overflow: hidden;
}
ul.hd-menu li,
ul.hd-menu li a {
    display: inline-block;
}
ul.hd-menu li a {
    display: inline-block;
    padding: 10px 30px;
    text-decoration: none;
    text-transform: capitalize;
    text-align: center;
    transition: 0.3s;
    font-size: 18px;
    color: #dee0df;
}
ul.hd-menu li a.active {
    border: 2px solid #cdd0cf;
    border-radius: 3px;
}
ul.hd-menu li a:hover,
ul.hd-menu li a:focus {
    background-color: #cfd6d3;
    color: #143123;
    border-radius: 3px;
    -moz-box-shadow: 0 0 10px #cdd0cf;
       -webkit-box-shadow: 0 0 10px #cdd0cf;
           box-shadow: 0 0 10px #cdd0cf;
}
.icon {
    display: none;
}
.hd-wrapper-text {
    float: left;
    margin-top: 208px;
    margin-bottom: 46px;
    width: 50%;
}
.hd-wrapper-text h2 {
    margin-bottom: 56px;
    padding-right: 15px;
    font-size: 62px;
    line-height: 70px;
}
.hd-wrapper-text p {
    padding-right: 20px;
    font-size: 20px;
    line-height: 30px;
}
.hd-wrapper-a a:nth-child(1) {
    margin-right: 40px;
}
.hd-mobile {
    float: right;
    width: 50%;
    margin-top: 80px;
    text-align: right;
}
/*end header*/
/*section improve-customer*/
.improve-customer {
    padding: 302px 120px 110px;
    background-color: #34c383;
    color: #fff;
}
.ic-center {
    text-align: center;
}
.ic-center h2 {
    line-height: 82px;
    font-size: 82px;
}
.ic-center a {
    display: inline-block;
    position: relative;
    margin: 70px 0px 124px;
    padding: 16px 70px 16px 32px;
    background-color: #d6f3e6;
    border-radius: 3px;
    font-size: 22px;
    line-height: 16px;
    color: #34c383;
}
.ic-center a:hover,
.ic-center a:focus {
    background-color: #9df2cc;
}
.ic-arrow {
    position: absolute;
    top:14px;
    right: 26px;
}
.ic-notification p,
.ic-notification .wrapper-img,
.ic-helps p,
.ic-helps .wrapper-img {
    width: 50%;
}
.ic-notification p,
.ic-helps .wrapper-img {
    float: left;
}
.ic-notification .wrapper-img,
.ic-helps p {
    float: right;
} 
.ic-notification p {
    margin: 188px 0 214px;
    padding-right: 50px;
    line-height: 30px;
    font-size: 20px;
}
.ic-notification .wrapper-img {
    padding: 0px 27px 56px 110px;
    text-align: right;
}
.ic-helps p {
    margin-top: 160px;
    padding-right: 65px;
    line-height: 34px;
    font-size: 20px;
}
.ic-helps .wrapper-img {
    padding-top: 40px;
    padding-left: 70px;
}
/*end section improve-custome*/
/*section benefits*/
.benefits {
    padding: 68px 20px 52px;
    background-color: #323432;
    color: #fff;
}
.benefits h2 {
    text-align: center;
    font-size: 70px;
}
.bnf-item {
    width: 33%;
    padding: 52px;
    float: left;
    text-align: center;
}
.bnf-item img {
    display: block;
    margin: 0 auto;
    margin-bottom: 14px;
}
.bnf-item span {
    font-size: 26px;
    font-weight: 600;
}
.bnf-item p {
    line-height: 30px;
    font-size: 20px;
}
/*end section benefits*/
/*section faq*/
.faq {
    padding: 110px 230px;
    background-color: #34c383;
    color: #fff;
}
.faq h2 {
    margin-bottom: 92px;
    text-align: center;
    text-transform: uppercase;
    font-size: 60px;
}
/*accordion*/
button.faq-accordion {
    position: relative;
    width: 100%;
    padding: 26px 55px 26px 30px ;
    border: none;
    border-bottom: 1px solid #eaf9f2;
    text-align: left;
    outline: none;
    font-size: 20px;
    line-height: 20px;
    transition: 0.4s;
    background-color: #fff;
    color: #34c383;
    cursor: pointer;
}
button.faq-accordion:nth-child(2) {
    border-radius: 2px 2px 0 0;
}
button.faq-accordion:last-child {
    border-radius: 0 0 2px 2px;
    border-bottom: none;
}
button.faq-accordion::after {
    content: url(../img/faq/faq-arrow-down.png);
    position: absolute;
    top: 28px;
    right: 30px;
}
button.faq-accordion.active::after {
    content: url(../img/faq/faq-arrow-up.png);
}
div.faq-panel {
    display: none;
    padding: 26px 50px 60px 30px;
    background-color: #eaf9f2;
}
div.faq-panel.show {
    display: block !important;
    color: #34c383;
}
.faq-panel.show p {
    line-height: 30px;
    font-size: 16px;
}
/*end accordion*/
/*end section faq*/
/*footer*/
footer {
    padding: 10px 20px;
    background-color: #34c383;
    font-size: 9px;
    text-transform: uppercase;
    color: #bfe8d3;
}
.copyright {
    float: left;
}
.ft-menu {
    float: right;
}
.ft-menu ul li {
    display: inline-block;
}
.ft-menu ul li a {
    padding-left: 20px;
    text-align: center;
    text-decoration: none;
    color: #dee0df;
}
/*end footer*/
/*end main css*/
/*media*/
@media screen and (max-width:960px) {
    .hd-wrapper-text {
        margin-top: 184px;
        margin-bottom: 38px;
    }
    .hd-mobile {
        margin-top: 80px;
    }
    .hd-wrapper-text h2 {
        font-size: 60px;
        line-height: 60px;
    }
    .improve-customer {
        padding: 280px 66px 120px 52px;
    }
    .ic-center h2 {
        line-height: 60px;
        font-size: 60px;
    }
    .ic-center a {
        margin: 40px 0 66px;
    }
    .ic-notification .wrapper-img {
        width: 40%;
        padding: 0px;
    }
    .ic-notification p {
        width: 60%;
    }
    .ic-helps .wrapper-img {
        padding-left: 21px;
    }
    .ic-helps .wrapper-img {
        width: 40%;
    }
    .ic-helps p {
        width: 60%;
        padding-right: 0px;
        padding-left: 85px;
    }
    .benefits h2 {
        margin-bottom: 30px;
        font-size: 60px;
    }
    .bnf-item {
        width: 50%;
        padding: 30px 80px;
    }
    .faq {
        padding: 126px 110px;
    }
}
@media screen and (max-width:890px) {
    header {
        min-height: 1182px;
    }
    ul.hd-menu li {
        display: none;
    }
    .icon {
        display: inline-block;
        position: absolute;
        top: 20px;
        right: 20px;
    }
    ul.hd-menu.responsive {
        position: relative;
        top: 34px;
        right: 0px;
    }
    ul.hd-menu.responsive li {
        display: inline;
    }
    ul.hd-menu.responsive li a {
        display: block;
        text-align: left;
    }
    ul.hd-menu li a.active {
        border: none;
    }
    .hd-wrapper-text {
        width: 100%;
    }
    ul.hd-menu li a:hover,
    ul.hd-menu li a:focus {
        box-shadow: none;
    }
    .hd-wrapper-text {
        margin-top: 60px;
        margin-bottom: 68px;
    }
    .hd-wrapper-text h2 {
        margin-bottom: 40px;
    }
    .hd-mobile {
        float: none;
        width: 100%;
        margin-top: 0px;
        text-align: center;
    }
    .hd-wrapper-a {
        margin-top: 42px;
        text-align: center;
    }
    .improve-customer {
        padding: 400px 72px 100px;
    }
    .ic-notification p,
    .ic-notification .wrapper-img,
    .ic-helps .wrapper-img,
    .ic-helps p {
        width: 100%;
    }
    .ic-notification p {
        margin-top: 62px;
        margin-bottom: 30px;
    }
    .ic-notification .wrapper-img {
        text-align: center;
    }
    .ic-helps p {
        margin-top: 100px;
        padding-left: 0px;
        padding-right: 38px;
    }
    .bnf-item {
        padding-left: 12px;
        padding-right: 12px;
    }
    .faq {
        padding: 77px 20px;
    }
    .faq h2 {
        margin-bottom: 40px;
    }
    button.faq-accordion {
        padding-left: 20px;
        line-height: 30px;
    }
    footer {
        padding-left: 36px;
        padding-right: 36px;
    }
    .ft-menu {
        width: 100%;
        float: none;
    }
    .ft-menu ul {
        margin:0;
        padding:0;
        text-align: center;
    }
    .ft-menu ul li a {
        display: block;
        padding: 6px 20px;
    }
    .copyright {
        width: 100%;
        text-align: center;
    }
}
@media screen and (max-width:480px) {
    .hd-logo img {
        width: 170px;
    } 
    .hd-wrapper-сеnter {
        padding-left: 10px;
        padding-right: 10px;
    }
    .hd-wrapper-text {
        margin-top: 50px;
        margin-bottom: 40px;
    }
    .hd-wrapper-text h2 {
        font-size: 36px;
        line-height: 40px;
    }
    .hd-wrapper-text p {
        font-size: 18px;
        line-height: 30px;
    }
    .hd-mobile img {
        width: 280px;
    }
    header {
        min-height: 890px;
    }
    .icon {
        right: 10px;
    }
    ul.hd-menu.responsive {
        top: 30px;
    }
    .hd-wrapper-a a:nth-child(1) {
        display: block;
        margin: 0 auto;
        margin-bottom: 20px;
    }
    .improve-customer {
        padding: 426px 3px 90px;
    }
    .ic-center h2 {
        font-size: 26px;
        line-height: 30px;
    }
    .ic-center a {
        padding-left: 21px;
        padding-right: 46px;
    }
    .ic-arrow {
        right: 15px;
    }
    .ic-notification p {
        margin-top: 34px;
        padding: 0 46px 26px 20px;
        line-height: 30px;
    }
    .ic-notification img {
        width: 300px;
    }
    .ic-helps p {
        padding: 20px 38px 26px 20px;
        line-height: 30px;
    }
    .ic-helps img {
        width: 290px;
    }
    .ic-helps .wrapper-img {
        padding: 0;
    }
    .ic-helps .wrapper-img {
        text-align: center;
    }
    .benefits h2 {
        font-size: 36px;
    }
    .benefits {
        padding: 46px 22px 30px;
    }
    .bnf-item {
        width: 100%;
    }
    button.faq-accordion {
        padding: 20px 42px 20px 16px;
        font-size: 15px;
        line-height: 20px;
    }
    .faq h2 {
        font-size: 36px;
    }
    .faq {
        padding: 64px 10px;
    }
    button.faq-accordion::after {
        right: 16px;
    }
    div.faq-panel {
        padding: 22px 16px;
        font-size: 15px;
        line-height: 20px;
    }
    footer {
        padding-left: 10px;
        padding-right: 10px;
    }
    .copyright {
        padding-top: 42px;
    }
}
/*end media*/