@media screen and (max-width:960px) {
    .hd-wrapper-text {
        margin-top: 184px;
        margin-bottom: 38px;
    }
    .hd-mobile {
        margin-top: 80px;
    }
    .hd-wrapper-text h2 {
        font-size: 60px;
        line-height: 60px;
    }
    .improve-customer {
        padding: 280px 66px 120px 52px;
    }
    .ic-center h2 {
        line-height: 60px;
        font-size: 60px;
    }
    .ic-center a {
        margin: 40px 0 66px;
    }
    .ic-notification .wrapper-img {
        width: 40%;
        padding: 0px;
    }
    .ic-notification p {
        width: 60%;
    }
    .ic-helps .wrapper-img {
        padding-left: 21px;
    }
    .ic-helps .wrapper-img {
        width: 40%;
    }
    .ic-helps p {
        width: 60%;
        padding-right: 0px;
        padding-left: 85px;
    }
    .benefits h2 {
        margin-bottom: 30px;
        font-size: 60px;
    }
    .bnf-item {
        width: 50%;
        padding: 30px 80px;
    }
    .faq {
        padding: 126px 110px;
    }
}
@media screen and (max-width:890px) {
    header {
        min-height: 1182px;
    }
    ul.hd-menu li {
        display: none;
    }
    .icon {
        display: inline-block;
        position: absolute;
        top: 20px;
        right: 10px;
    }
    ul.hd-menu.responsive {
        position: relative;
        top: 20px;
        right: 24px;
    }
    ul.hd-menu.responsive li {
        display: inline;
    }
    ul.hd-menu.responsive li a {
        display: block;
        text-align: left;
    }
    ul.hd-menu li a.active {
        border: none;
    }
    .hd-wrapper-text {
        width: 100%;
    }
    ul.hd-menu li a:hover,
    ul.hd-menu li a:focus {
        box-shadow: none;
    }
    .hd-wrapper-text {
        margin-top: 60px;
        margin-bottom: 68px;
    }
    .hd-wrapper-text h2 {
        margin-bottom: 40px;
    }
    .hd-mobile {
        float: none;
        width: 100%;
        margin-top: 0px;
        text-align: center;
    }
    .hd-wrapper-a {
        margin-top: 42px;
        text-align: center;
    }
    .improve-customer {
        padding: 400px 72px 100px;
    }
    .ic-notification p,
    .ic-notification .wrapper-img,
    .ic-helps .wrapper-img,
    .ic-helps p {
        width: 100%;
    }
    .ic-notification p {
        margin-top: 62px;
        margin-bottom: 30px;
    }
    .ic-notification .wrapper-img {
        text-align: center;
    }
    .ic-helps p {
        margin-top: 100px;
        padding-left: 0px;
        padding-right: 38px;
    }
    .bnf-item {
        padding-left: 12px;
        padding-right: 12px;
    }
    .faq {
        padding: 77px 20px;
    }
    .faq h2 {
        margin-bottom: 40px;
    }
    button.faq-accordion {
        padding-left: 20px;
        line-height: 30px;
    }
    footer {
        padding-left: 36px;
        padding-right: 36px;
    }
    .ft-nav {
        width: 100%;
        float: none;
    }
    ul.ft-menu {
        margin:0;
        padding:0;
        text-align: center;
    }
    ul.ft-menu li a {
        display: block;
        padding: 6px 20px;
    }
    .copyright {
        width: 100%;
        text-align: center;
    }
}
@media screen and (max-width:480px) {
    .hd-logo-link img {
        width: 170px;
    } 
    .hd-wrapper-сеnter {
        padding-left: 10px;
        padding-right: 10px;
    }
    .hd-wrapper-text {
        margin-top: 50px;
        margin-bottom: 40px;
    }
    .hd-wrapper-text h2 {
        font-size: 36px;
        line-height: 40px;
    }
    .hd-wrapper-text p {
        font-size: 18px;
        line-height: 30px;
    }
    .hd-mobile img {
        width: 280px;
    }
    header {
        min-height: 890px;
    }
    .hd-wrapper-a a:nth-child(1) {
        display: block;
        margin: 0 auto;
        margin-bottom: 20px;
    }
    .improve-customer {
        padding: 426px 3px 90px;
    }
    .ic-center h2 {
        font-size: 26px;
        line-height: 30px;
    }
    .ic-center a {
        padding-left: 21px;
        padding-right: 46px;
    }
    .ic-arrow {
        right: 15px;
    }
    .ic-notification p {
        margin-top: 34px;
        padding: 0 46px 26px 20px;
        line-height: 30px;
    }
    .ic-notification img {
        width: 300px;
    }
    .ic-helps p {
        padding: 20px 38px 26px 20px;
        line-height: 30px;
    }
    .ic-helps img {
        width: 290px;
    }
    .ic-helps .wrapper-img {
        padding: 0;
    }
    .ic-helps .wrapper-img {
        text-align: center;
    }
    .benefits h2 {
        font-size: 36px;
    }
    .benefits {
        padding: 46px 22px 30px;
    }
    .bnf-item {
        width: 100%;
    }
    button.faq-accordion {
        padding: 20px 42px 20px 16px;
        font-size: 15px;
        line-height: 20px;
    }
    .faq h2 {
        font-size: 36px;
    }
    .faq {
        padding: 64px 10px;
    }
    button.faq-accordion::after {
        right: 16px;
    }
    div.faq-panel {
        padding: 22px 16px;
        font-size: 15px;
        line-height: 20px;
    }
    footer {
        padding-left: 10px;
        padding-right: 10px;
    }
    .copyright {
        padding-top: 42px;
    }
}